body{
    font-family: 'Open Sans', sans-serif;
    background-color: lightpink;
}



header{
    background-image: url('../img/paisagem.jpg');
    /*para colocar imagem como header*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: greenyellow;
}

header h1{
    padding-top: 15px;

}


img.center{
    display: block;
    margin: 0 auto;
}


nav{
    padding: 2px 0;
    background-color:#808080;
}
nav ul li a{
    color:#ffffff;
    text-decoration: none;
    /*tirar o underline*/
}

nav ul li a:hover{
    color:#ff0099;
}
/*hover- passar o mouse por cima e mudar a cor*/

nav ul li{
    display: inline;
    padding-right: 5px;
    /*separar os itens da lista*/
}

.box{
    background-color:blue;
    border:gray 5px solid;
   

}

/*especificar a class*/
.box-descricao{
    border-color:purple;
}
 

 h1{
     text-decoration:underline;
 }

 label.box{
     border-color:red;
     background-color: mediumpurple;
 }

 a{
     background-color: mediumspringgreen;
     width: 100px;
     padding: 20px;
     display: inline-block;
     /*nunca le largura*/
 }

 header p{
     background-color: yellow;
     height: 50px;
  

     /* quando é inline - só tem o tamanho do texto*/
 }


/* LABEL E INPUT por padrão INLINE*/
 label{
     width:200px;
     display:inline-block;
     /* para n ficar inline block*/

 }

 input{


 }
